<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <!-- <style> -->
      <!--   .list  text-align: left; max-width: 750px; margin: auto; } -->
      <!-- </style> -->
    <!-- <\!-- Navigation-\-> -->
      <%- include ("../partials/navbar.ejs") %>

      <div>
	<div>
	  <h4>All Books</h4>

          <div>
            <table border="1px">
              <tr>
		<th>Book</th>
		<th>Study</th>
		<th>Description</th>
		<th>Date Created</th>
		<th>Manuscripts</th>
              </tr>
	      <% rows.forEach(function(study, i) { %>
	      <tr>
		<td><a href="/book/<%=study.ot_book%>"><%=study.ot_book%></a></td>	      
		<td><%=study.study_no%></td>	      
		<td><%=study.description%></td>	      
		<td><%=study.date_created%></td>
		<td><%=study.mss_used%></td>
	      </tr>
	      <%  }); %>
            </table>
          </div>
	</div>
      </div>
  </body>
</html>


