<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <!-- <style> -->
      <!--   .list  text-align: left; max-width: 750px; margin: auto; } -->
      <!-- </style> -->
    <!-- <\!-- Navigation-\-> -->
      <%- include ("../partials/navbar.ejs") %>

      <div>
	<div>
	  <h4>All Books</h4>

          <div class="w-50">
            <table class="table table-striped table-bordered table-sm table-responsive">
	      <thead>
		<tr>
		  <th scope="col">ID</th>
		  <th scope="col">Book</th>
		</tr>
	      </thead>
	      <tbody>
		<% rows.forEach(function(book, i) { %>
		<tr scope="row">
		  <td><a href="/book/<%=book.id%>"><%=book.id%></a></td>	      
		  <td><%=book.name%></td>
		</tr>
		<%  }); %>
	      </tbody>
	    </table>
	  </div>
	</div>
	<div class="w-50">
	  <form name = "add_book" method="POST" action="/book/add">
	    <div class="row">
	      <div class="col">
		<label for="id" class="col-sm-2 col-form-label">ID</label>
		<input type="text" class="form-control" id="id" placeholder="Enter Book abbreviation" name="id">
	      </div>
	      <div class="col">
		<label for="bookname" class="col-sm-2 col-form-label">Bookname</label>
		<input type="text" class="form-control" id="bookname" name="bookname">
	      </div>
	    </div>
	    <button type="submit" class="btn btn-primary">Add Book</button>
	  </form>
	</div>
	
	<div>
	  <br />
	  <iframe width="560px" height="320px" allowfullscreen="true" allow="autoplay *" src="https://acu.instructuremedia.com/embed/bdf42887-e4d4-4354-b8c5-a4f9418f0434" frameborder="0"></iframe>
	</div>
      </div>
  </body>
</html>


