<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
    <style>
      table {
          border-spacing: 0px;
          table-layout: fixed;
          margin-left: auto;
          margin-right: auto;
      }
      td {
          border: 1px solid black;
          word-wrap: break-word;
      }
      td.diag {
	  background-color: #DDDDDD;
      }
      </style>
  </head>

  <body>
      <%- include ("../partials/navbar.ejs") %>

      <div>
	<div>
	  <h4><a href="/book">All</a> > Calculated book: <%=book%> study: <%=study%></h4>

          <div>
	    <%=data[0][0]%>

            <table border="1px">
	      <% data.forEach(function(row, i) { %>
	      <tr>
		<% row.forEach(function(cell, j) { %>
		<% if (j < 1)  { %>
		<td><%=cell%> </td>
		<% } else { %>
		  <td class=<%= (i == j) ? "diag" : "" %> style="text-align:center"><%=cell%> </td>
		<% }  %>
		<%  }); %>
	      </tr>
	      <%  }); %>
            </table>
          </div>

	</div>
      </div>
  </body>
</html>


