<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
    <style>
      table {
          border-spacing: 0px;
          table-layout: fixed;
          margin-left: auto;
          margin-right: auto;
      }
      td {
          border: 1px solid black;
          word-wrap: break-word;
      }
      </style>
  </head>

  <body>
      <%- include ("../partials/navbar.ejs") %>

      <div>
	<div>
	  <h4><a href="/book">All</a> > Calculated book: <%=book%> study: <%=study%></h4>

          <div>Data:
	  <%=data%>
          </div>
	</div>
      </div>
  </body>
</html>


