<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/navbar.ejs") %>

    <div>
      <div>
	<h4><a href="/book">All</a> > Studies for book: <%=book%></h4>

        <div>
	  <% if (rows.length < 1) { %>
	     No Studies found.
	     <div class="w-50">
	       <form name = "add_study" method="POST" action="/book/<%=book%>/addStudy">
		 <input type="hidden" id="book" name="book" value="<%=book%>">
		 <button type="submit" class="btn btn-primary">Add a Study !</button>
	       </form>
	     </div>
	     <% } else { %>
             <table class="table table-striped table-bordered table-sm table-responsive">
               <tr>
		 <th>Study</th>
		 <th>Description</th>
		 <th>Date Created</th>

               </tr>
	       <% rows.forEach(function(study, i) { %>
	       <tr>
		 <td style="text-align:center"><a href="/book/<%=study.book_id%>/study/<%=study.study_no%>"><%=study.study_no%></a></td>	      
		 <td><%=study.description%></td>	      
		 <td><%=study.date_created%></td>

	       </tr>
	       <%  }); %>

             </table>
	     <% } %>
        </div>
      </div>

    </div>
  </body>
</html>


