<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <!-- <style> -->
      <!--   .list  text-align: left; max-width: 750px; margin: auto; } -->
      <!-- </style> -->
    <!-- <\!-- Navigation-\-> -->
      <%- include ("../partials/navbar.ejs") %>

      <div>
	<div>
	  <h4><a href="/book">All</a>> Study <%=studyno%> for book <a href="/book/<%=book%>"><%=book%></a></h4>

          <div>
            <table border="1px">
              <tr>
		<th>Field</th>
		<th>Value</th>
              </tr>

	      <tr><td>ot_book</td> <td><%=study.ot_book%></td></tr>
	      <tr><td>study_no</td> <td><%=study.study_no%></td></tr>
	      <tr><td>ot_book</td> <td><%=study.description%></td></tr>
	      <tr><td>manuscripts</td> <td><%=study.mss_used%></td></tr>

            </table>
          </div>
	</div>
      </div>
  </body>
</html>


