<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
    <style>
      table {
          border-spacing: 0px;
          table-layout: fixed;
          margin-left: auto;
          margin-right: auto;
      }
      td {
          border: 1px solid black;
          word-wrap: break-word;
      }
    </style>
  </head>

  <body>
    <!-- <style> -->
      <!--   .list  text-align: left; max-width: 750px; margin: auto; } -->
      <!-- </style> -->
    <!-- <\!-- Navigation-\-> -->
      <%- include ("../partials/navbar.ejs") %>

      <div>
	<div>
	  <h4><a href="/book">All</a> > Book <a href="/book/<%=book%>"><%=book%></a> Study <%=studyno%> <a href="/book/<%=book%>/study/<%=studyno%>/percent/">percent</a></h4>

          <div>
            <table width="800" border="1px">
              <tr>
		<th style="width:120px">Field</th>
		<th>Value</th>
              </tr>

	      <tr><td>ot_book</td> <td><%=study.ot_book%></td></tr>
	      <tr><td>study_no</td> <td><%=study.study_no%></td></tr>
	      <tr><td>ot_book</td> <td><%=study.description%></td></tr>
	      <tr><td>created</td> <td><%=study.date_created%></td></tr>
	      <tr><td>manuscripts</td> <td><%=study.mss_used%></td></tr>

            </table>
          </div>
	</div>
      </div>
  </body>
</html>


